/*Ishpreet kaur*/
*
{
    margin:20px 0%;
    padding: 0%;
}
body
{
  background-image: linear-gradient(to right,black,rgba(245, 22, 159, 0.692),white,black);
  
}
nav div
{
    float: left;
    width: 15%;
    text-align: center;
    border: 2px black solid;
    border-radius: 10px;
    height: 25px;
    padding-top: 5px;
    margin-left: 110px;
    background-image: linear-gradient(rgba(253, 19, 195, 0.808),pink);
    margin-bottom: 100px;
}
nav div:hover{
    background-image: linear-gradient(rgb(161, 7, 154),rgb(192, 113, 127));
    color: white;
}

.product-div
{
    border: solid 1px black;
    width: 22%;
    display: flex;
    float: left;
    margin-left: 29px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(124, 121, 121, 0.479) ;
    background-color: rgba(247, 25, 173, 0.747);
}
.product-div img
{
    width: 250px;
    height: 300px;
}
.product-div p
{
    width: 500px;
}
.product-div button
{
    width: 200px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(145, 13, 123);
    color: white;
}
